// Allow for simple border-radius declaration

.border-radius (@radius:5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
     -moz-box-shadow: @arguments;
          box-shadow: @arguments;
}

.container-fluid,
body,
html {
  height: 100%;
}

body,
html {
  overflow: hidden;
  background-color: desaturate(#D9EDF7, 25%);
}

* {
  box-sizing: border-box;
}

.modal-right-buttons {
  float: right;
}

.modal-left-buttons {
  float: left;
}

#filterButtonGroup,
#mapsButtonGroup {
  // float: right;
  margin-right: 10px;
}

#filterDropdownList {
  a {
    .glyphicon {
      margin-right: 6px;
      margin-left: 4px;
    }
  }
}

#filterDropdownList {
  a {
    margin-left: 4px;
  }
}

.navbar {
  margin-bottom: 5px;
}

.h-100 {
  height: 100%;
}

.appContent {
  position: relative;
  height: 92.5%;
}

.mapWrapper {
  // padding: 0px;
}

#serviceMap {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #C1C1C1;
  .border-radius(10px);
  z-index: 0;
}

#dragLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #C1C1C1;
  .border-radius(10px);
  z-index: 200;
  background-color: rgba(100,100,100,0.5);
  cursor: crosshair;

  &:focus {
    outline-width: 0;
  }

  &.disabled {
    pointer-events: none;
    background-color: transparent;
  }

  svg {
    width: 100%;
    height: 100%;

    rect {
      fill: white;
      fill-opacity: 0.25;
      stroke: white;
      stroke-width: 3px;
    }
  }
}

#newRectSelector .glyphicon-stop {
  border: 2px solid white;
  color: transparent;
  background-color: rgba(255,255,255,0.25);
}

///// START multi-level dropdown styles
* {
  .dropdown-submenu {
    position: relative;

    .glyphicon-ok {
      color: #5CB85C;
    }

    .glyphicon-plus {
      color: #5BC0DE;
    }

    .glyphicon-unchecked {
      color: transparent;
    }
  }

  .dropdown-submenu > .dropdown-menu {
    overflow-y: scroll;
    max-height: 500px;
    top: 0;
    right: 100%;
    margin-top: -6px;
    .border-radius(6px 0 6px 6px);
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }

  .dropdown-submenu > a:before {
    display: block;
    content: ' ';
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-right-color: #CCCCCC;
    margin-top: 5px;
    margin-left: -6px;
    margin-right: 5px;
  }

  .dropdown-submenu:hover > a:before {
    border-right-color: #FFFFFF;
  }
}
///// END multi-level dropdown styles
// chart list on lefthand side
#chartListWrapper {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 25%;
  min-width: 450px;
  z-index: 100;
  background-color: rgba(125, 125, 125, 0.5);
  border: 3px solid rgba(69, 69, 69, 0.5);
  padding: 10px;
  .border-radius(10px);
  .box-shadow(1px 1px 10px #C8C8C8);
}

#chartList {
  overflow-y: scroll;
  height: 100%;
  max-height: 100%;
  width: 100%;
}

.chartEntry {
  margin: 10px;
  z-index: -2;
  .border-radius(6px);

  .orgName {
    font-weight: bold;
  }

  .panel-heading:hover {
    cursor: pointer;
  }

  &.opened {
    border-color: @open-panel;

    .panel-heading {
      color: darken(@open-panel, 35%);
      border-color: @open-panel;
      background-color: tint(@open-panel, 20%);
    }

    .panel-body {
      .description::before {
        content: 'Description:';
        display: block;
        font-weight: bold;
      }
      border-color: @open-panel;
    }

    .panel-footer {
      border-color: @open-panel;
      background-color: tint(@open-panel, 75%);
    }

    &:hover {
      border-color: darken(@open-panel, 15%);

      .panel-heading {
        border-color: darken(@open-panel, 15%);
      }

      .panel-body {
        border-color: darken(@open-panel, 15%);
      }

      .panel-footer {
        border-color: darken(@open-panel, 15%);
      }
    }
  }

  &:hover {
    border-color: @hover-panel;

    .panel-heading {
      border-color: @hover-panel;
    }

    .panel-body {
      border-color: @hover-panel;
    }

    .panel-footer {
      border-color: @hover-panel;
    }
  }
}
@open-panel: #FEB24C;
@hover-panel: #337AB7;
